<h1>List of Cars</h1>
<ul>
@foreach (var car in @Model)
{
<li>
  Model: @car.GetModel()
  <ul>
    <li>Price: $@car.GetPrice()</li>
    <li>Miles: @car.GetMiles()</li>
    <li>Color: @car.GetColor()</li>
  </ul>
</li>
}
</ul>
<a href="/">Add a new Car.</a>
