<h1>New Car</h1>
<form action="/list">
  <label for="new-model">Model:</label>
  <input id="new-model" name="new-model" type="text">
  <label for="new-price">Price:</label>
  <input id="new-price" name="new-price" type="number">
  <label for="new-mileage">Mileage:</label>
  <input id="new-mileage" name="new-mileage" type="number">
  <label for="new-color">Color:</label>
  <input id="new-color" name="new-color" type="text">
  <button type="submit">Submit</button>
</form>
